# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]eleases/
[Rr]eleasesPublic/
[Dd]ist/
[Dd]istPublic/
**/bin/
**/obj/
x64/
x86/
artifacts/

# Ignore logs
Logs/
*.log

# Ignore user-specific files
*.user
*.userosscache
*.suo
*.userprefs

# Rider and JetBrains IDE-specific files
.idea/

# Visual Studio-specific files
.vs/
.vs2017/
.vs2019/
.vscode/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# .NET Core-specific temporary files
project.lock.json
project.fragment.lock.json

# NuGet packages
*.nupkg

# Archive folders
[Aa]rchive/
